{
	"project_name": "[name of the project, will be found as VPC name, instance name, nsg name...]",
	"root_passwd": "[root password to initialize]",
	"key_name": "[key name to access instance]",
	"server_type": "[server_type]",
	"region": "[region]",
	"availability_zone": "[availability zone for the instance]",
	"account_id": "[your account ID]",
	"ami_id": "ami-0075d079",
	"vpc": "default",
	"vpc_cidr_block": "10.0.0.0/16",
	"subnet_cidr_block": "10.0.0.0/16",
	"nsg": "new",
	"script_to_execute": "./examplescript.sh"
}